@import url( https://fonts.googleapis.com/css?family=Montserrat:300|Permanent+Marker ) ;
html, body {
	background-color: #6EC6E4;
	font-family: 'Montserrat', sans-serif;
	height: 100%;
}


header {
	top: 0px;
	padding: 0px;
}

p{
    margin-bottom: 0px;
}

main {
	background: url("bg_blue_fix.png");
  background-repeat: repeat;
	top: 0px;
}
nav.navbar {
	min-height: 10vh;
	padding: 20px;
    border: 0px;
    border-radius: 0px;
	background-color: #333333;
    margin-bottom: 0px;
    font-size: 16px;
    letter-spacing: 5px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

img.thumbnail {
	width: auto;
  height:70vh;
}
.greyS {
	background-color: grey;
	height: 128px;
}
.introH {
	font-size: 128px;
	padding: 0vh 5vh;
	font-family: 'Permanent Marker', sans-serif;
	text-align: center;
}

.nav>li>a:hover,
.nav>li>a:focus {
	color: white;
    text-decoration: none;
    background-color: #333333;
}

.articleP {
	background-color: white;
	padding: 32px;
}

p.intro {
	padding: 16x;
	font-size:32px;
	text-align: center;
}

.fill {
    min-height: 77.6vh;
}


.frontI {
	background-image: url("blurryGCube.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 20vh 0px;
}
h1 {
	display:none;
}
h2 {
	display: none;
}
h3 {
	border-bottom: grey solid 1px;
}
footer.container-fluid {
	min-height: 10vh;
	padding: 3vh 2vw;
	background-color: #333333;
	width: 100%;
}
.whiteBanner {
	background-color: rgba(255,255,255,0.5);
	min-height: 37.6vh;
  padding: 3.5vh;
}
footer p {
	color: white;
}