@import url( https://fonts.googleapis.com/css?family=Montserrat:300|Permanent+Marker ) ;
html, body {
	background-color: #6EC6E4;
	font-family: 'Montserrat', sans-serif;
	height: 100%;
}


header {
	top: 0px;
	padding: 0px;
}

p{
    margin-bottom: 0px;
}

.profile-img{
    border-radius: 50%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30vh;
  
  border: 4px solid white;
}

main {
	background-color: #7D6399;
  background-repeat: repeat;
	top: 0px;
}
nav.navbar {
	min-height: 10vh;
	padding: 20px;
    border: 0px;
    border-radius: 0px;
	background-color: #333333;
    margin-bottom: 0px;
    font-size: 16px;
    letter-spacing: 5px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

img.thumbnail {
	width: auto;
  height:70vh;
}
.greyS {
	background-color: grey;
	height: 128px;
}
.introH {
  font-size: 8vmax;
	padding: 0vh 5vh;
  color: #FFFFFF;
	font-family: 'Permanent Marker', sans-serif;
	text-align: center;
}
.introHW {
  font-size: 8vmax;
	padding: 0vh 5vh;
  color: #F2F2F2;
	font-family: 'Permanent Marker', sans-serif;
	text-align: center;
}

.nav>li>a:hover,
.nav>li>a:focus {
	color: white;
    text-decoration: none;
    background-color: #333333;
}

.articleP {
	background-color: white;
	padding: 4em;
}

p.intro {
	padding: 1em;
	font-size:1.75em;
  color: #FFFFFF;
	text-align: center;
}

p.introW {
	padding: 1em;
	font-size:1.75em;
  color: #F2F2F2;
	text-align: center;
	text-shadow: 0 0 10px black;
	
}

.fill {
    min-height: 77.6vh;
}

.googleDoc {
  width: 50vw;
  height: 50vh;
}

.frontI1 {
	//background-image: url("jimLong.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 40vh 50vw;
}

.frontI2 {
	background-image: url("micromouseIntro.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 40vh 50vw;
}

.frontI3 {
	background-image: url("textAdv.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 40vh 50vw;
}

h1 {
	display:none;
}
h2 {
	display: none;
}
h3 {
  margin:1em 0em;
	border-bottom: grey solid 1px;
}
footer.container-fluid {
	min-height: 10vh;
	padding: 3vh 2vw;
	background-color: #333333;
	width: 100%;
}

.footerIcon {
  margin-left:1vw;
  margin-right: auto;
  height: 2.9em;
  width: auto;
}

.imageIcon {
  display: block;

}
.whiteBanner {
  position: relative;
  display: inline;
  padding: 3.5vh;
}
footer p {
	color: white;
}