@import url( https://fonts.googleapis.com/css?family=Montserrat:300|Permanent+Marker ) ;
html {
    margin: 0;
	padding: 0;
	background-color: #FFE8FE;
	font-family: 'Montserrat', sans-serif;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

main {
	padding: 16px ;
	background: white;
}

nav li a:hover {
    background-color: #111111;
}
h3.HIntro {
	font-size: 5em;
	font-family: 'Permanent Marker', sans-serif;
	border: none;
	text-align: center;
	
}
p.HIntro {
	text-align: center;
}
h1 {
	text-align: center;
}
h2 {
	display: none;
}
h3 {
	border-bottom: grey solid 1px;
}